models/*
*.pyc
__MACOSX/*
*.DS_Store
*.pth
.ipynb_checkpoints/*

stimuli/das/b16/discrimination/*
stimuli/das/b16/rmts/*
stimuli/das/b32/discrimination/*
stimuli/das/b32/rmts/*

stimuli/NOISE_RGB/aligned/b16/N_32/trainsize_6400_256-256-256/test/*
stimuli/NOISE_RGB/aligned/b16/N_32/trainsize_6400_256-256-256/test_iid/*
stimuli/NOISE_RGB/aligned/b16/N_32/trainsize_6400_256-256-256/train/*
stimuli/NOISE_RGB/aligned/b16/N_32/trainsize_6400_256-256-256/val/*

stimuli/NOISE_RGB/aligned/b16/N_32/trainsize_6400_32-32-224/test/*
stimuli/NOISE_RGB/aligned/b16/N_32/trainsize_6400_32-32-224/test_iid/*
stimuli/NOISE_RGB/aligned/b16/N_32/trainsize_6400_32-32-224/train/*
stimuli/NOISE_RGB/aligned/b16/N_32/trainsize_6400_32-32-224/val/*

stimuli/mts/aligned/b16/N_32/trainsize_6400_256-256-256/test/*
stimuli/mts/aligned/b16/N_32/trainsize_6400_256-256-256/test_iid/*
stimuli/mts/aligned/b16/N_32/trainsize_6400_256-256-256/train/*
stimuli/mts/aligned/b16/N_32/trainsize_6400_256-256-256/val/*

stimuli/mts/aligned/b16/N_32/trainsize_6400_32-32-224/test/*
stimuli/mts/aligned/b16/N_32/trainsize_6400_32-32-224/test_iid/*
stimuli/mts/aligned/b16/N_32/trainsize_6400_32-32-224/train/*
stimuli/mts/aligned/b16/N_32/trainsize_6400_32-32-224/val/*

stimuli/NOISE_RGB/aligned/b16/N_16/trainsize_6400_256-256-256/test/*
stimuli/NOISE_RGB/aligned/b16/N_16/trainsize_6400_256-256-256/test_iid/*
stimuli/NOISE_RGB/aligned/b16/N_16/trainsize_6400_256-256-256/train/*
stimuli/NOISE_RGB/aligned/b16/N_16/trainsize_6400_256-256-256/val/*

stimuli/NOISE_RGB/aligned/b16/N_16/trainsize_6400_32-32-224/test/*
stimuli/NOISE_RGB/aligned/b16/N_16/trainsize_6400_32-32-224/test_iid/*
stimuli/NOISE_RGB/aligned/b16/N_16/trainsize_6400_32-32-224/train/*
stimuli/NOISE_RGB/aligned/b16/N_16/trainsize_6400_32-32-224/val/*

stimuli/mts/aligned/b16/N_16/trainsize_6400_256-256-256/test/*
stimuli/mts/aligned/b16/N_16/trainsize_6400_256-256-256/test_iid/*
stimuli/mts/aligned/b16/N_16/trainsize_6400_256-256-256/train/*
stimuli/mts/aligned/b16/N_16/trainsize_6400_256-256-256/val/*

stimuli/mts/aligned/b16/N_16/trainsize_6400_32-32-224/test/*
stimuli/mts/aligned/b16/N_16/trainsize_6400_32-32-224/test_iid/*
stimuli/mts/aligned/b16/N_16/trainsize_6400_32-32-224/train/*
stimuli/mts/aligned/b16/N_16/trainsize_6400_32-32-224/val/*

stimuli/NOISE_RGB/aligned/b32/N_32/trainsize_6400_256-256-256/test/*
stimuli/NOISE_RGB/aligned/b32/N_32/trainsize_6400_256-256-256/test_iid/*
stimuli/NOISE_RGB/aligned/b32/N_32/trainsize_6400_256-256-256/train/*
stimuli/NOISE_RGB/aligned/b32/N_32/trainsize_6400_256-256-256/val/*

stimuli/NOISE_RGB/aligned/b32/N_32/trainsize_6400_32-32-224/test/*
stimuli/NOISE_RGB/aligned/b32/N_32/trainsize_6400_32-32-224/test_iid/*
stimuli/NOISE_RGB/aligned/b32/N_32/trainsize_6400_32-32-224/train/*
stimuli/NOISE_RGB/aligned/b32/N_32/trainsize_6400_32-32-224/val/*

stimuli/mts/aligned/b32/N_32/trainsize_6400_256-256-256/test/*
stimuli/mts/aligned/b32/N_32/trainsize_6400_256-256-256/test_iid/*
stimuli/mts/aligned/b32/N_32/trainsize_6400_256-256-256/train/*
stimuli/mts/aligned/b32/N_32/trainsize_6400_256-256-256/val/*

stimuli/mts/aligned/b32/N_32/trainsize_6400_32-32-224/test/*
stimuli/mts/aligned/b32/N_32/trainsize_6400_32-32-224/test_iid/*
stimuli/mts/aligned/b32/N_32/trainsize_6400_32-32-224/train/*
stimuli/mts/aligned/b32/N_32/trainsize_6400_32-32-224/val/*

stimuli/NOISE_RGB/aligned/b32/N_16/trainsize_6400_256-256-256/test/*
stimuli/NOISE_RGB/aligned/b32/N_16/trainsize_6400_256-256-256/test_iid/*
stimuli/NOISE_RGB/aligned/b32/N_16/trainsize_6400_256-256-256/train/*
stimuli/NOISE_RGB/aligned/b32/N_16/trainsize_6400_256-256-256/val/*

stimuli/NOISE_RGB/aligned/b32/N_16/trainsize_6400_32-32-224/test/*
stimuli/NOISE_RGB/aligned/b32/N_16/trainsize_6400_32-32-224/test_iid/*
stimuli/NOISE_RGB/aligned/b32/N_16/trainsize_6400_32-32-224/train/*
stimuli/NOISE_RGB/aligned/b32/N_16/trainsize_6400_32-32-224/val/*

stimuli/mts/aligned/b32/N_16/trainsize_6400_256-256-256/test/*
stimuli/mts/aligned/b32/N_16/trainsize_6400_256-256-256/test_iid/*
stimuli/mts/aligned/b32/N_16/trainsize_6400_256-256-256/train/*
stimuli/mts/aligned/b32/N_16/trainsize_6400_256-256-256/val/*

stimuli/mts/aligned/b32/N_16/trainsize_6400_32-32-224/test/*
stimuli/mts/aligned/b32/N_16/trainsize_6400_32-32-224/test_iid/*
stimuli/mts/aligned/b32/N_16/trainsize_6400_32-32-224/train/*
stimuli/mts/aligned/b32/N_16/trainsize_6400_32-32-224/val/*


stimuli/counting/NOISE_RGB/N_32/*

CCV/err/*
CCV/out/*
*.err
*.out
wandb*
